*{
	margin: 0;border: 0; 
} 
body{
	background-color: #ffffff;
}
nav{
	background-color: #000000; padding: 20px 50px;
}
nav.nav ul{
	display: flex;
}
nav.nav ul li{
	list-style: none;
	padding: 20px 50px;
	transition: all 1s;
}
nav.nav ul li:hover{
	background-color: #ffffff;
}
li{
	list-style: none; display: inline-block;
}
a{
	text-decoration: none; color: #ffffff; padding: 0px 30px;
}
h1{
	color: #000000; font-size: 30px; text-align-last: center; font-family: 'Montserrat', serif;
	font-family: 'Montserrat', cursive;}
	.contenedor{width: 80%; margin: auto; display: flex; justify-content: space-between;
}
img{	
	width: 300px;
}
h2{
	text-align-last:center ;
	 margin: auto;
 	background-color:rgba(250, 250, 250, .50) ; 
 	width: 350px;
  	padding: 15px;
  	font-family: 'Montserrat', serif;
}
div.imagenes{
	width: 70%;
 	right: 0;
  	left: 0; 
  	margin: auto;
  	display: flex;
  	justify-content: space-around;
}
div.imagenes img{
	width: 33%;
	height: 250px;
	margin: 20px;
}
div.imagenes img:hover{
	filter: blur(1px);
}
footer{
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	bottom: 0;
	align-items: center;
	background-color: #000000;
	padding: 40px 00px;
	font-size: 30px;
}
	footer div.copy p{
	color: white;
	padding: 30px 10px;
	font-size: 20px;
	justify-content: left;
	}
	footer div.Redes p{
		color:  white;
		padding: 30px 10px;
		text-decoration: none;
		font-size: 10px;
		width: 60%;
		height: 220px;
		margin: 15px;
		justify-content: right;
	}
	div.Noticias{	
	display: flex;
	justify-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	}
	div.Noticias div{
		width: 300px;
	}
	div.Noticias div div.desc{
		background-color: #ffffff;
		padding: 10px;
	}
	div.Noticias div img{
	width: 100%;
	position: relative;
	transition: all 1s;
	}
	div.Noticias div img:hover{
	filter: contrast(70%);
	transform: translate(0%,-10%);
	}
	div.Noticias div h1{
		font-size: 30px;
		color: #000000;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
